
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-ms-touch-action: none;
}

body {
    margin:0 auto;
    font-size: 12px;
    font-family: "Helvetica Neue", "Helvetica";
    font-style: "Light";
    font-weight: none;
    text-shadow: none;
}

#background {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    opacity: 1;
    width:100vw;
    height:100vh;
    background:url(../images/background.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position:fixed;
    z-index:-9999;
}

.container {
    width:300px;
    margin:0 auto;
    overflow:none;
    margin-top:100px;
}
.wrapper {
    padding-top: 1px;
    margin-top: -1px;
}

.block {
    height:140px;
    width:140px;
    margin:5px;
    float:left;
}

.red {
    background:#e74c3c;
    -webkit-box-shadow: 0 3px 0 0px #c0392b;
}

.green {
    background:#2ecc71;
    -webkit-box-shadow: 0 3px 0 0px #27ae60;
}

.blue {
    background:#3498db;
    -webkit-box-shadow: 0 3px 0 0px #2980b9;
}

.purple {
    background:#9b59b6;
    -webkit-box-shadow: 0 3px 0 0px #8e44ad;
}

.container h1 {
    font-size:125%;
    text-align:center;
    margin-top:100px;
    font-family:Verdana, Geneva, sans-serif;
}

a:link {color:black;}      /* unvisited link */
a:visited {color:black;}  /* visited link */
a:hover {color:black;}  /* mouse over link */
a:active {color:black;}  /* selected link */

#header {
    display: block;
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	width: 100%;
	height: 44px;
	line-height: 44px;
  background: rgba(256,256,256,1);
	padding: 0;
	color: #000;
	font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.space {
    width:100%;
    height:44px;
}
.header-blur {
	position: absolute;
	z-index: 2;
  overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 44px;
	padding: 0;
}

#header .left {
    position: absolute;;
    left: 10px;
    color: #0b6aff;
    display: block;
}
.icon{
    text-indent: -9999px;
    height: 20px;
    width: 19px;
    background: url(../images/icon.svg);
    display: inline-block;
    position: relative;
    top:3px;
    left: 5px;
}
#header .right {
    position: absolute;;
    right: 10px;
    color: #0b6aff;
}
section {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    background: rgba(256,256,256,0.5);
}

section h1, section p {
    padding: 10px;
}

    .loading_dots
  {
    background-color: rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: inset 0 1px 0 rgba(0,0,0,0.3),
               0 1px 0 rgba(255,255,255,0.3);
               
    font-size: 1em; /* set size here */
    
    line-height: 1;
    padding: 0.125em 0 0.175em 0.55em;
    width: 2.75em;
    
    /*
      position just for demo
    */
    margin: 20% auto;
  }
 
  .loading_dots span
  {
    background: transparent;
    border-radius: 50%;
    box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
    display: inline-block;
    height: 0.6em;
    width:  0.6em;
 
      -webkit-animation:  loading_dots 0.8s linear infinite;
      -moz-animation:     loading_dots 0.8s linear infinite;
      -ms-animation:      loading_dots 0.8s linear infinite;
    animation:            loading_dots 0.8s linear infinite;
  }
    .loading_dots span:nth-child(2)
    {
        -webkit-animation-delay:  0.2s;
        -moz-animation-delay:     0.2s;
        -ms-animation-delay:      0.2s;
      animation-delay:            0.2s;
    }
    .loading_dots span:nth-child(1)
    {
  	-webkit-animation-delay:  0.4s;
        -moz-animation-delay:     0.4s;
        -ms-animation-delay:      0.4s;
      animation-delay:            0.4s;
    }
 
/*
  Define the animation for every efing vendor prefix
*/
  @-webkit-keyframes loading_dots
  {
    0% {
      background: transparent;
    }
    50% {
      background: #E4E4E4;
    }
    100% {
      background: transparent;
    }
  }
  
  @-moz-keyframes loading_dots
  {
    0% {
      background: transparent;
    }
    50% {
      background: #E4E4E4;
    }
    100% {
      background: transparent;
    }
  }
  @-ms-keyframes loading_dots
  {
    0% {
      background: transparent;
    }
    50% {
      background: #E4E4E4;
    }
    100% {
      background: transparent;
    }
  }
  @keyframes loading_dots
  {
    0% {
      background: transparent;
    }
    50% {
      background: #E4E4E4;
    }
    100% {
      background: transparent;
    }
  }

section h2 {
    text-align:center;
}

a {text-decoration:none;}

section {
    padding:20px;
    border-bottom: 3px solid #e5e5e5;
}

 h4{
    font-size:16px;
    margin:10px 0 10px 0;
    font-family:arial;
    text-shadow:0 1px 0 white;
    color:#333;
    padding:0 0px;
}
        
#status{
    text-align:center;
    color:white;
    font-family:arial;
    font-weight:bold;
    background: red;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display:none;
    z-index:99999999;
}